@value mainColor, colorWhite, colorBlack from '../../common/colors.css';

.books {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 45px;
}

.header {
  display: flex;
  justify-content: space-around;
  color: mainColor;
  margin-bottom: 30px;
}

.menu {
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.menu:hover {
  border-bottom: 1px solid colorBlack;
  color: colorBlack;
}

.bookBasket {
  display: none;
}

.bookBasketBox {
  display: flex;
  flex-direction: column;
}

.readBooksBox {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 0 auto;
  margin-bottom: 1em;
  width: 100%;
  height: 2em;
  color: mainColor;
  background-color: transparent;
  border: solid 1px mainColor;
  cursor: pointer;
}

.button:hover {
  background-color: mainColor;
  color: colorWhite;
}
