@value mainColor, colorBlack from '../../common/colors.css';

.bookBasket {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  color: mainColor;
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 1em;
  padding-left: 0;
}
