@value mainColor, colorWhite, colorGrey, colorWhiteGrey, colorBlack from '../../common/colors.css';

.book {
  list-style: none;
  background-color: mainColor;
  color: colorWhite;
  font-size: 20px;
  width: 550px;
  padding: 20px;
  border-radius: 45px 0px 0px 45px;
  cursor: pointer;
}

.book.second {
  background-color: #7da48a;
  margin-left: 30px;
}
