@value mainColor, colorWhite, colorGrey, colorWhiteGrey, colorBlack from '../../common/colors.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 15px;
  width: 75px;
}

.profile {
  color: mainColor;
  margin-right: 60px;
}

.userName {
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.userName:hover {
  border-bottom: 1px solid mainColor;
}

.arrow {
  width: 0.5em;
  padding-left: 0.3em;
  padding-bottom: 0.2em;
  color: mainColor;
}

.downBox {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: colorWhite;
  width: 120px;
  border: solid 1px colorGrey;
  right: 1em;
  top: 3.5em;
}

.downMenu {
  padding: 0.4rem;
  cursor: pointer;
}

.downMenu:hover {
  color: colorBlack;
  background-color: colorWhiteGrey;
}

@media screen and (max-width: 62rem) {
  .header {
    flex-direction: column;
  }

  .profile,
  .downBox {
    display: none;
  }
}
