@value mainColor, colorBlack from '../../common/colors.css';

.readBooks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  color: mainColor;
  margin: 0 auto;
}

.date {
  border: none;
  background-color: transparent;
  color: mainColor;
  padding-right: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.totalBooks {
  padding-left: 10px;
}

.booksBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  margin-top: 1em;
}
