@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@value backGroundColor from './common/colors.css';

.app {
  width: 100%;
  height: 100vh;
  background-color: backGroundColor;
  font-family: "Noto Sans KR", sans-serif;
}
