.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: center;
  gap: 3em;
}
